body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}
header{
    background-color: #ffffff;
}
.logo {
    font-size: 18px;
}
.navigation {
    font-size: 16px;
}
.contacts {
    font-size: 16px;
}
.section1 {
    width: 1440px;
    height: 600px;
    background-color: #2E2F42;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}
.pageTitle {
    font-size: 56px;
    margin: 20px;
    text-align: center;
    color: #ffffff;
    Width: 496px;
    Height: 120px;
    
}
.button {
    position: absolute;
    margin: 20px;
    background-color: #4D5AE5;
    color: #faf8f8;
    border-radius: 4px;
    gap: 10px;
    padding: 16px, 32px, 16px, 32px;
    height: 56px;
    width: 169px;

}
.strategy {
    background-color: #faf8f8;
    margin-left: 20px;
    text-align: left;
    justify-content: center


}
.team {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
}
li {
    margin-left: 20px;
}
li:nth-child(1){
    margin:0;
}

h3 {
    color: #000;
    font-size: 20px;
}

p{
    color: #000;
    font-size: 16px;
}


h2 {
    display: flex;
  align-items: center
}